<h1> Convert <%= @currency_choice %> to <%= @currency_convert %> </h1>

<p>
 1 <%= @currency_choice%> equals <%= @conversion_rate %> <%= @currency_convert%>
</p>

<p> Go
  <a href = "/forex/<%=@currency_choice%>"> back </a>
</p>